// app global css in Sass form
@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Baloo+Bhai|Bungee|Caveat+Brush|Comfortaa|DM+Serif+Display|Damion|Fira+Code|Lakki+Reddy|Lato|Notable|Roboto|Roboto+Mono|Shadows+Into+Light|Ultra|VT323|Waiting+for+the+Sunrise|Yeon+Sung&display=swap");

.comfortaa {
  font-family: "Comfortaa";
}

.yeonsung {
  font-family: "Yeon Sung";
}

.baloobhai {
  font-family: "Baloo Bhai";
}

.bungee {
  font-family: "Bungee";
}

.roboto {
  font-family: "Roboto";
}

.lato {
  font-family: "Lato";
}

.archivoblack {
  font-family: "Archivo Black";
}

.notable {
  font-family: "Notable";
}

.ultra {
  font-family: "Ultra";
}

.serifdisplay {
  font-family: "DM Serif Display";
}

.robotomono {
  font-family: "Roboto Mono";
}

.firacode {
  font-family: "Fira Code";
}

.vt323 {
  font-family: "VT323";
}

.shadowsitl {
  font-family: "Shadows Into Light", cursive;
}

.damion {
  font-family: "Damion";
}

.caveatbrush {
  font-family: "Caveat Brush";
}

.waitingforsunrise {
  font-family: "Waiting for the Sunrise";
}

.lakkireddy {
  font-family: "Lakki Reddy";
}
