// app global css in Sass form
@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Baloo+Bhai|Bungee|Caveat+Brush|Comfortaa|DM+Serif+Display|Damion|Fira+Code|Lakki+Reddy|Lato|Notable|Roboto|Roboto+Mono|Shadows+Into+Light|Ultra|VT323|Waiting+for+the+Sunrise|Yeon+Sung&display=swap");

.comfortaafont-family {
  font-family: "Comfortaa";
}

.yeonsungfont-family {
  font-family: "Yeon Sung";
}

.baloobhaifont-family {
  font-family: "Baloo Bhai";
}

.bungeefont-family {
  font-family: "Bungee";
}

.robotofont-family {
  font-family: "Roboto";
}

.latofont-family {
  font-family: "Lato";
}

.archivoblackfont-family {
  font-family: "Archivo Black";
}

.notablefont-family {
  font-family: "Notable";
}

.ultrafont-family {
  font-family: "Ultra";
}

.serifdisplayfont-family {
  font-family: "DM Serif Display";
}

.robotomonofont-family {
  font-family: "Roboto Mono";
}

.firacodefont-family {
  font-family: "Fira Code";
}

.vt323font-family {
  font-family: "VT323";
}

.shadowsitlfont-family {
  font-family: "Shadows Into Light";
}

.damionfont-family {
  font-family: "Damion";
}

.caveatbrushfont-family {
  font-family: "Caveat Brush";
}

.waitingforsunrisefont-family {
  font-family: "Waiting for the Sunrise";
}

.lakkireddyfont-family {
  font-family: "Lakki Reddy";
}
